<div class="card border-primary mb-3" >
    <div class="card-header">Pacientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Pacientes</h5>
  
        
  
             <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                     <th scope="col">Documentossss</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>                   
                    <th scope="col">sexo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of clientes">
                    <th scope="row">{{paciente.id}}</th>
                    <td>{{paciente.documento}}</td>			      
                    <td>{{paciente.nombres}}</td>       
                    <td>{{paciente.apellidos}}</td>   
                    <td>{{paciente.sexo}}</td>                   
                  </tr>			    
                </tbody>
            </table>
    </div>
  </div>